* {
  font-family: Roboto, sans-serif;
}

/*
    Reusable styles
 */

.top-spaced {
  margin-top: 1em;
}

.bottom-spaced {
  margin-bottom: 1em;
}

.centered {
  margin: auto;
}

/*
    Navigation styles
 */

.Navigation {
  width: 100%;
  background-color: #20835e;
  font-size: 1.75em;
}

.Navigation-Desktop {
  width: 100vw;
  background-color: #20835e;
  font-size: 1.25em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.Navigation-Mobile {
  background-color: #20835e;
  width: 100vw;
  margin-bottom: 1em;
}

.Navigation-Content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 75%;
  min-width: 350px;
  max-width: 800px;
  font-size: 1.5em;
}

.Navigation-Link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: arvo, serif;
}
.Navigation-Link:hover{
  color: #fff;
}
/*
    Page layout styles
 */

.Content {
  background-color: #f3f3f3;
  color: #777;
}

.Content-Centered {
  margin: auto;
  width: 80vw;
  min-width: 300px;
  max-width: 500px;
  display: block;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.Content-Header {
  padding: 0.5em;
  text-align: center;
  color: #777;
}

.Content-Card {
  width: 100%;
  padding-bottom: 1em;
}

/*
    Button and link styles
 */

.image-copy-button {
  display: inline-block;
  margin-left: 1em;
  height: min-content;
  width: 150px;
  padding: 1em 0;
  align-self: center;
  background-color: #20835e;
  border: 1px solid #ccc;
  color: #fff;
  transition-duration: 150ms;
}

.light-button {
  background-color: #20835e;
  border: 1px solid #ccc;
  color: #fff;
  padding: 0.75em 1.5em;
  transition-duration: 150ms;
}

.light-button:hover {
  background-color: #20835e;
  border: 1px solid #ccc;
  color: #fff;
  transition-duration: 150ms;
}

.go-button {
  font-weight: bold;
  background-color: #20835e;
  border: none;
  color: #fff;
  margin-bottom: 1em;
  width: 100%;
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.go-button:hover {
  background-color: #20835e;
  transition-duration: 150ms;
}

.go-button:hover > span {
  padding-right: 1.5em;
  transition-duration: 150ms;
}

.go-button > span {
  padding-right: 1em;
  transition-duration: 150ms;
}

.button-icon {
  font-size: 1.25em;
}

.shorten-button {
  margin: auto;
  padding: 0;
  color: #fff;
  background-color: #888;
}

.Link {
  color: #777;
  text-align: left;
}

.Link:hover {
  color: #ccc;
}

/*
    URL entry card styles
 */

.error-text {
  padding: 0.5em 1em;
  margin-top: 2em;
  color: #d36666;
  font-weight: normal;
  font-size: 1em;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0.25em;
}

.input-label {
  font-size: 0.75em;
  align-self: center;
  padding-right: 0.5em;
}

.input-group-text {
  background-color: #aaa;
  color: #fff;
}

.italic {
  font-style: italic;
}

.custom-extension-prefix {
  background-color: transparent;
  color: #555555;
  padding: 0.75em 1.5em;
}

/*
    Short URL area styles
 */

.Short-URL-Area {

}

.Short-URL-Main-Area {
  flex: 1;
  align-content: end;
}

.Short-URL-Main-Area h3 {
  margin-bottom: 0.5em;
}

.Short-URL-QR-Area {
  display: flex;
  margin: 2em 0;
  justify-content: center;
}

.form-control {
  padding: 0.75em 1.5em;
}

.form-label {
  color: #555;
  font-size: 1.1em;
}

/*
    Waiting area styles
 */

.waiting-area {
  justify-content: center;
  margin-bottom: 4em;
}
